body {
  margin: 0;
  background-color: #f0f8fe;
}
nav {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  text-decoration: double;
  font-size: 4rem;
  color: whitesmoke;
  background-color: #2874f0;
}

#login-singup {
  display: flex;
  flex-basis: 50vw;
  margin: 0;
  gap: 1rem;
  justify-content: space-evenly;
  list-style: none;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
#login-singup a {
  font-size: 2.5rem;
}

#form-error {
  display: none;
  color: red;
}

#sign-up-form,
#log-in-form {
  /* height: 90vh; */
  display: flex;
  justify-content: center;
  /* margin-top: 10vh; */
}

form {
  height: auto;
  flex-basis: 40vw;
}

#container {
  /* margin-top: -10vh; */
  display: flex;
  flex-direction: column;
  /* height: 60vh; */
  justify-content: space-evenly;
}
#container h1 {
  text-align: center;
  font-size: 3rem;
}
label {
  font-size: 2rem;
  margin-block: 1rem;
}
.input {
  height: 3rem;
  border-radius: 20px;
  padding-left: 1rem;
  font-size: 150%;
  background: #f5f6f7;
}

#submitbtn {
  margin-top: 5rem;
  margin-inline: 10vw;
  height: 3rem;
  border-radius: 20px;
  font-size: 150%;
  background: linear-gradient(rgb(105, 165, 105), rgba(8, 255, 8, 0.39));
}

@media screen and (max-width: 480px) {
  nav {
    font-size: 1.8rem;
  }
  #login-singup a {
    font-size: 1.5rem;
  }
  #container {
    margin-top: 0;
  }
  /* form {
        flex-basis: 40vw;
      } */

  #sign-up-form,
  #log-in-form {
    transform: scale(0.8);
  }
}
