body {
  margin: 0;
  display: none;
}
nav {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  text-decoration: double;
  font-size: 4rem;
  color: whitesmoke;
  background-color: #2874f0;
}
a{
  text-decoration: none;
  color: whitesmoke;
}

#login-singup{
  display: flex;
  flex-basis: 50vw;
  margin: 0;
  gap : 1rem;
  justify-content: space-evenly;
  list-style: none;
}
#login-singup a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 2.5rem;
}


main {
  background-color: #e3e6e6;
}

#loader {
  position: absolute;
  top: 50vh;
  left: 50vw;
  display: none;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.category-name {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card img {
  width: 200px;
  height: 200px;
  padding-block: 2rem;
  padding-inline: 2rem;
}

.card {
  display: flex;
  flex-basis: 20vw;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  background-color: #ffffff;
  height: 50vh;
}

.category-title {
  margin: 0;
  padding-block: 2rem;
  text-align: center;
  font-size: 3rem;
}

.card-description {
  display: flex;
  height: 20vh;
  flex-direction: column;
  justify-content: space-evenly;
}

.product-title {
  text-align: center;
}

.price,
.rating {
  font-weight: bolder;
  text-align: center;
}

.price span,
.rating span {
  font-weight: normal;
}

.product-title {
  padding-inline: 1.5rem;
}
#product-section {
  background-color: #f3f3f3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#product-container {
  display: flex;
  padding-inline: 10vw;
}
#product-container img {
  width: 500px;
  height: 500px;
}
#product-detail {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  background-color: aliceblue;
}

@media screen and (max-width: 480px) {
  nav {
    font-size: 1.8rem;
}
#login-singup a {
    font-size: 1.5rem;
}
  .card-description {
    height: auto;
  }
  #product-section {
    height: auto;
  }

  #product-container {
    flex-direction: column;
  }
  #product-container img {
    width: 300px;
    height: 300px;
  }
  .card {
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    height: auto;
  }

  .card img {
    width: 300px;
    height: 300px;
    padding-inline: 1rem;
    padding-block: 2rem;
  }
}
